body {

    margin: 0;
    font-family: Arial, sans-serif;

    background:
    radial-gradient(circle at center, rgba(0,195,255,0.15), transparent 40%),
    radial-gradient(circle at center, #020817, #010409);

    color: white;
    text-align: center;
}

.header {

    margin-top: 100px;

}

.logo {

    width: 220px;
    margin-bottom: 20px;

}

h1 {

    font-size: 42px;
    margin-bottom: 10px;

}

p {

    font-size: 18px;
    color: #aaa;

}

button {

    margin-top: 20px;

    background: linear-gradient(90deg, #00c3ff, #0077ff);

    border: none;

    padding: 15px 35px;

    font-size: 18px;

    border-radius: 12px;

    cursor: pointer;

    color: white;

    font-weight: bold;

    transition: 0.3s;

}

button:hover {

    transform: scale(1.05);

    box-shadow: 0 0 15px #00c3ff;

}
